In [7]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [8]:
genres = input("Enter the genres: ")

# construct the search URL with the genres parameter
url = f"https://www.imdb.com/search/title?genres={genres}"

Enter the genres: horror

In [9]:
# Send request to the URL and get the response
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find all the movie containers
movies = soup.find_all('div', class_='lister-item mode-advanced')

# Create empty lists to store the data
titles = []
stars = []
summaries = []
release_dates = []
writers = []
directors = []

# Loop through the movies and extract the data
for movie in movies:
    # Title
    title = movie.h3.a.text
    titles.append(title)

    # Stars
    stars_text = ''
    stars_tags = movie.find_all('a', href=lambda href: href and '/name/' in href)
    for i, tag in enumerate(stars_tags):
        if i > 0:
            stars_text += ', '
        stars_text += tag.text
    stars.append(stars_text)

    # Summary
    summary = movie.find_all('div', class_='lister-item-content')[0].find_all('p')[1].text.strip()
    summaries.append(summary)

    # Release date
    release_date = movie.find_all('span', class_='lister-item-year text-muted unbold')[0].text.replace('(', '').replace(')', '').strip()
    release_dates.append(release_date)

    # Writer
    writer_tag = movie.find_all('p', class_='')[0].find_all('a')[0]
    writer = writer_tag.text
    writers.append(writer)

    # Director
    director_tag = movie.find_all('p', class_='')[0].find_all('a')[1]
    director = director_tag.text
    directors.append(director)

# Create a dataframe with the extracted data
df = pd.DataFrame({'Title': titles, 'Stars': stars, 'Summary': summaries, 'Release Date': release_dates, 
                   'Writer': writers, 'Director': directors})

In [10]:
df.head()

,Title,Stars,Summary,Release Date,Writer,Director
0,The Last of Us,"Pedro Pascal, Bella Ramsey, Anna Torv, Lamar J...","After a global pandemic destroys civilization,...",2023–,Pedro Pascal,Bella Ramsey
1,Scream VI,"Matt Bettinelli-Olpin, Tyler Gillett, Courtene...","In the next installment, the survivors of the ...",2023,Matt Bettinelli-Olpin,Tyler Gillett
2,Attack on Titan,"Josh Grelle, Yûki Kaji, Yui Ishikawa, Marina I...",After his hometown is destroyed and his mother...,2013–2023,Josh Grelle,Yûki Kaji
3,The Walking Dead,"Andrew Lincoln, Norman Reedus, Melissa McBride...",Sheriff Deputy Rick Grimes wakes up from a com...,2010–2022,Andrew Lincoln,Norman Reedus
4,We Have a Ghost,"Christopher Landon, Jahi Di'Allo Winston, Davi...",Finding a ghost named Ernest haunting their ne...,2023,Christopher Landon,Jahi Di'Allo Winston

In [11]:
df.describe()

,Title,Stars,Summary,Release Date,Writer,Director
count,50,50,50,50,50,50
unique,48,50,50,26,43,45
top,The Last of Us,"Pedro Pascal, Bella Ramsey, Anna Torv, Lamar J...","After a global pandemic destroys civilization,...",2022,Wes Craven,Neve Campbell
freq,2,1,1,10,4,3

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         50 non-null     object
 1   Stars         50 non-null     object
 2   Summary       50 non-null     object
 3   Release Date  50 non-null     object
 4   Writer        50 non-null     object
 5   Director      50 non-null     object
dtypes: object(6)
memory usage: 2.5+ KB